In [2]:
#funtion for finding mean, median, q1,q3,IQR

def stats(lst):
  stats=lst
  stats.sort()
  n=len(stats)
  print(n)
  print("sorted numbers",stats)

  #mean
  get_sum=sum(stats)
  mean= get_sum/n
  print('mean value',mean)


 #median

  if n % 2 == 0:
    median1 = stats[n//2]
    # print(median1)
    median2 = stats[n//2 - 1]
    # print(median2)
    median = (median1 + median2)/2
  else:
    median = stats[n//2]
  print("median value",median)

 #q1,q2,IQR

  q1=stats[(1*(n-1)//4)+1]
  print('q1 value',q1)

  q3=stats[(3*(n-1)//4)+1]
  print('q3 value',q3)

  IQR=q3-q1
  print('IQR is',IQR)

In [3]:
stats([75, 69, 56, 46, 47, 79, 92, 97, 89, 88, 36, 96, 105, 32, 116, 101, 79, 93, 91, 112])

20
sorted numbers [32, 36, 46, 47, 56, 69, 75, 79, 79, 88, 89, 91, 92, 93, 96, 97, 101, 105, 112, 116]
mean value 79.95
median value 88.5
q1 value 69
q3 value 97
IQR is 28

In [4]:
import random
one=0
two=0
three=0
four=0
five=0
six=0
for i in range(10000):
  result=random.randint(1,6)
  if result==1:
    one= one+1
  elif result==2:
    two = two+1
  elif result==3:
    three = three+1
  elif result==4:
    four = four+1
  elif result ==5:
    five = five+1
  else:
     result ==6
     six = six+1

total_result=[one,two,three,four,five,six]
total_result

[1707, 1643, 1673, 1636, 1661, 1680]

In [5]:
#probabilities of each number getting
prob_rolls=[]
for i in range(6):
  a=total_result[i]/100
  prob_rolls.append(a)
prob_rolls

[17.07, 16.43, 16.73, 16.36, 16.61, 16.8]